/*global section*/
.font-size-13{
	font-size: 13px;
}
.font-size-8{
	font-size: 8px;
}
.font-size-14{
	font-size: 14px;
}
.font-size-15{
	font-size: 15px;
}
.font-size-16{
	font-size: 16px;
}
.font-size-20{
	font-size: 20px;
}
.font-size-40{
	font-size: 40px;
}
.text-orange{
	color: #e35300;
}
.text-black{
	color: black;
}
.font-ra{
	font-family: 'Rambla', sans-serif;
}
.font-ho{
	font-family: 'Hammersmith One', sans-serif;
}

/*alert section*/
.alert{
	position: absolute;
	
	z-index: 1;
}
#about-us .btn{
	border-radius: 20px 20px 20px 20px;
}



.text-orange{
	color: #ffbc00;
}
#new-movies .nav-link,
#actions .nav-link,
#scientics .nav-link,
#horrors .nav-link,
#drama .nav-link,
#documentary .nav-link{
	color: black;
}
body{
  background-color: #E5E4E2;
  color: black;
}

/*login section*/
#login-navbar .btn{
	width: 100px;
	height: 35px;
	line-height: 15px;
}
#login-form{
	margin-left: 38%;
	margin-top: 50px;
	width: 300px;
	height: 400px;
	color: white;
}
.dropdown-item:hover{
	background: #1e90ff;
}


/*header section*/
#header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: left .5s ease;
	z-index: 3;
	
}
#header .btn{
	border-radius: 0px 20px 20px 0px;
	border: 1px solid white;
}
#header .form-inline input{
	border-radius: 20px 0px 0px 20px;
	border: 1px solid white;
	width: 280px;
}

/*slide section*/

#carouselExampleIndicators img{
	height: 400px;
}
.carousel-indicators{
	z-index: 1;
}

#die button{
	border-radius: 20px 20px 20px 20px;
}
#die img{
	width: 150px;
	height: 240px;
}
#die .other-similar-movies img{
	width: 115px;
	height: 180px;
}

/*test section*/
#documentary img:hover,
#scientics img:hover,
#actions img:hover,
#horrors img:hover,
#new-movies img:hover,
#drama img:hover,
#all-movies img:hover{
	transform: scale(1.1);
	transition: transform 1s ease;
}
#documentary img,
#scientics img,
#actions img,
#horrors img,
#new-movies img,
#drama img{

	width: 115px;
	height: 180px;
}


/*all-movies section*/
#all-movies img{
	width: 130px;
	height: 190px;
}

#all-movies .title{
	height: 30px;
	text-align: left;
	background-color: gray;
}

#profile button{
	width: 100px;
	height: 50px;
}
#profile h5{
	margin-top: 30px;
	margin-bottom: 20px;
}
#profile .sel{
	display: block;
	margin-bottom: 30px;
}
#profile .sel .btn:hover{
	border-color: #6699FF;
}
#profile .sel .btn:active, 
#profile .sel .btn:focus {
    border: 1px solid #6699FF;
    color: #6699FF;
}
#profile .sub button:hover{
	border: 1px solid blue;
	background: #CCFFFF;
	color: black;
}
#profile .sub{
	border-left: 1px solid black;
}





/*about us section*/
#about-us img{
	width: 100%;
}
#about-us .card{
	box-shadow: 10px solid gray;
}
#about-us .col-4 img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-size: 100%;
}
#about-us .col-4:hover{
	color: blue;
}
#about-us .col-4 {
  position: relative;
  border-radius: 50%;
}

.img__description {
  position: absolute;
  top: 150px;
  left: 80px;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  width: 120px;
  height: 30px;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

#about-us .col-4:hover .img__description {
  visibility: visible;
  opacity: 1;
}
#header .alert {
	margin-top: 10px;
	margin-left: 27%;
}
#header .alert .alert-btn{
	background: black;
	width: 60px;
	border-radius: 5px;
}














@media screen and (max-width: 768px){
	#carouselExampleIndicators img{
		height: 160px;
	}
	#login-form{
		margin-left: 90px;
	}
	#payment .month{
		width: 390px;
	}
	#payment .btn{
		margin-left: 40%;
	}
	#payment input{
		margin-left: 100px;
	}
	#payment .mid{
		 height: 963px;
	}

	#documentary img,
	#scientics img,
	#actions img,
	#horrors img,
	#new-movies img,
	#drama img,
	#all-movies img{
		width: 130px;
		height: 200px;
		margin-left: 1px;
	}
}